.forgot-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: white;
}

.forgot-container h2 {
  margin-bottom: 20px;
  color: black;
}

.forgot-container input {
  width: 280px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

.forgot-container button {
  width: 280px;
  padding: 12px;
  background: #00e6e6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.forgot-container button:hover {
  background: #00cccc;
}

.msg {
  margin-top: 15px;
  font-weight: bold;
}
.forgot-link {
  cursor: pointer;
}
@media (max-width: 768px) {

  .forgot-container {
    padding: 15px;
    text-align: center;
  }

  .forgot-container h2 {
    font-size: 20px;
  }

  .forgot-container input {
    width: 100%;
    padding: 10px;
    font-size: 13px;
  }

  .forgot-container button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .msg {
    font-size: 13px;
  }

}
