.joblist-page {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.job-card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 20px;
  background: #ffffff;
}

.job-main h3 {
  margin: 0;
  color: #111827;
}

.company {
  color: #374151;
  font-weight: 500;
}

.meta {
  font-size: 13px;
  color: #6b7280;
}

.view-btn {
  margin-top: 10px;
  background: #111827;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.job-details {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #e5e7eb;
}

.desc {
  margin: 10px 0;
  color: #374151;
}

.skills span {
  display: inline-block;
  background: #e5e7eb;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 6px;
  font-size: 12px;
}

.apply-btn {
  margin-top: 10px;
  background: #16a34a;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
@media (max-width: 768px) {

  .joblist-page {
    width: 95%;
    margin: 20px auto;
  }

  .search-input {
    font-size: 13px;
    padding: 10px;
  }

  .job-card {
    padding: 15px;
  }

  .job-main h3 {
    font-size: 18px;
  }

  .meta {
    font-size: 13px;
  }

  .view-btn,
  .apply-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
  }

  .skills span {
    font-size: 11px;
    padding: 4px 8px;
  }

}
