.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}
.progress-wrapper {
  display: flex;
  justify-content: center; /* horizontal center */
  margin: 30px 0;
}
.progress-container {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
}
.progress-fill {
  height: 100%;
  background-color: green;
  transition: width 0.5s ease-in-out;
}
